@import '../../../../styles/variables';

.header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
    background-color: $white;
    box-shadow: 0 0 5px 0 $default-box-shadow;

    @include breakpoint($medium) {
        margin-bottom: 4rem;
    }

    .content-wrapper {
        width: 100%;
        padding: 1rem;
        display: flex;
        max-width: $large;
        align-items: center;
        justify-content: flex-start;

        @include breakpoint($medium) {
            padding: 1.5rem 1rem;
        }
    }

    img {
        width: auto;
        height: 2.5rem;
    }
}
