.button-primary {
    border: 0;
    padding: 0.5rem;
    font-weight: 600;
    color: $white;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: $brand-green;

    &:hover {
        opacity: 0.9;
        background-color: $brand-green;
    }

    &.danger,
    &.danger:hover {
        background-color: $brand-red;
    }
}
