// Libraries
@import '~breakpoint-sass/stylesheets/breakpoint';

// Colors
$brand-green: #6dc378;
$brand-yellow: #efb53d;
$brand-red: #f83264;

$black: #000000;
$white: #ffffff;

$grey-dark: #3a4250;
$grey: #a0a0a8;
$grey-light: #f5f7f9;
$grey-lighter: #f1f1f1;

$default-box-shadow: rgba(90, 102, 124, 0.3);

// Breakpoints
$small: 425px !default;
$medium: 720px !default;
$large: 940px !default;
$max-width: 1080px !default;
