@import './variables';
@import './buttons';
@import './dropdown';

h1 {
    font-size: 1.5rem;
    color: $blue-dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: $grey-light;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.app-content {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $large;
}
